.hero {
  color: #FFFFFF;
}

.hero__title {
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 70px;
}

.hero__inner {
  border-top: 1px solid rgba(224, 200, 194, .2);
}

.hero__info {
  max-width: 640px;
  padding: 40px 40px 40px 0;
}

.hero__info-title {
  font-size: 28px;
  margin-bottom: 50px;
}

.program-card {
  background: #FFFFFF;
  border-radius: 30px;
  padding: 25px;
  color: #000000;
  border: 1px solid #000000;
}

.program-card__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.program-card__list {
  margin-bottom: 15px;
  padding-left: 20px;
  list-style-type: disc;
}

.program-card__item {
  padding: 2px 0;
}

.program-card__text {
  margin-bottom: 30px;
}

.program-card__time {
  text-align: center;
  font-size: 19px;
  margin-bottom: 20px;
}

.program-card__timer {
  display: flex
;
  justify-content: center;
  gap: 10px;
}

.program-card__timer-item {
  display: flex
;
  flex-direction: column;
  align-items: center;
}

.program-card__timer-number {
  font-size: 28px;
}

.program-card__timer-text {
  font-size: 15px;
}

.program-card__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.program-card__link {
  font-size: 17px;
  margin-right: 15px;
  text-decoration: underline;
}

.program-card__start {
  margin-left: auto;
}

.hero__content {
  width: 100%;
  max-width: 370px;
  padding: 40px 0 40px 40px;
  border-left: 1px solid rgba(224, 200, 194, .2);
}

@media (max-width: 1199px) {
  .hero__title {
    font-size: 48px;
  }

  .hero__info-title {
    font-size: 22px;
  }

  .hero__content {
    font-size: 16px;
  }

  .program-card__title {
    font-size: 22px;
  }

  .program-card {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .hero__info {
    max-width: 100%;
    padding-right: 0;
  }

  .hero__title {
    font-size: 38px;
  }

  .hero__content {
    border-top: 1px solid rgba(224, 200, 194, .2);
    border-left: none;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .program-card__start {
    margin-right: auto;
    text-align: center;
    width: 100%;
  }
}