:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #000;
  background-color: #fff;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

body {
  min-height: 100vh;
  background-image: radial-gradient(49% 81% at 51% 37%, #997a9dff 1%, #073AFF00 100%),radial-gradient(50% 91% at 53% -40%, #eecec9FF 27%, #FF000000 99%),linear-gradient(21deg, #2d406d 15%, #FF000000 99%),linear-gradient(340deg, #2d406d 15%, #FFFFFFFF 100%);
  background-attachment: fixed;
  line-height: 1.4;
}

.section {
  padding: 100px 0;
}

.section__title {
  font-size: 50px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  padding: 13px 30px;
  background: #000000;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all .2s linear;
}

.btn:hover {
  background: transparent;
  border-color: #000000;
  color: #000000;
}

.btn--outlined {
  border-color: #000000;
  background: transparent;
  color: #000000;
}

.btn--outlined:hover {
  background: #000000;
  color: #FFFFFF;
}

.collapse:not(.show) {
  display: none;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  transition: all .2s linear;
  margin-right: 50px;
}

.social-btn:hover {
  color: #FFFFFF;
  background: #000000;
}

.collapse:not(.show),
.slider__btn.swiper-button-disabled,
.slider__btn.swiper-button-lock,
.slider__navigation.swiper-navigation-lock,
.slider__pagination.swiper-pagination-disabled,
.slider__pagination.swiper-pagination-lock {
  display: none;
}


.collapsing {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s;
  -o-transition: height 0.35s;
  transition: height 0.35s;
}

.accordion-item {
  font-size: 24px;
  border: 1px solid rgba(224, 200, 194, .2);
  border-radius: 20px;
}

.accordion-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.accordion-header {
  padding: 20px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  font-weight: 400;
  font-size: 24px !important;
}

.accordion-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  text-align: left;
  font-size: inherit;
}

.accordion-button:hover, .accordion-button:not(.collapsed) {
  color: #FFFFFF;
}

.accordion-button::after {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: 20px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%214968db'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%217968db'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.accordion-body {
  padding: 0 20px 20px;
}